body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

.imgProfilAcc{
    width: 150px;
    border-radius: 50%;
}

#accueil{
    min-height: 750px;
}

.imgMax{
    max-width: 350px;
    max-height: 250px;
    background-size: cover;
}
.imgHtml{
    width: 200px;
    height: 200px;
}
.imgServices{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.imgJs{
    width: 350px;
    height: 200px;
}
